html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
  background-color: #3BB69F;
}

.F_logo{
  float: right;
  right: 85%;
  position: relative;
  top: -10%;
}

li {
	-webkit-transform: rotate(15deg) scale(1);
	transform: rotate(0deg) scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

li:hover{
	-webkit-transform: rotate(15deg) scale(1.2);
	transform: rotate(25deg) scale(1.2);
}

#navlist {
  position: relative;
  height: 55px;
  background-color:white;
}

#navlist li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
  background-color: white;
}

#navlist li, #navlist a {
  height: 44px;
  display: block;
}

#about {
  right: 240px;
  float: right;
  height: 40px;
  width: 40px;
  background-image: url('1111.jpg');
  background-size: cover;
}

#service {
  right: 180px;
  height: 40px;
  float: right;
  width: 40px;
  background-size: cover;
  background-image: url('2222.jpg') ;
}

#news {
  float: right;
  right:120px;
  width: 43px;
  height: 40px;
  background-size: cover;
  background-image: url('3333.jpg') ;
}

#contact {
  right: 60px;
  width: 40px;
  height: 40px;
 float: right;
 background-size: cover;
  background-image: url('4444.jpg') ;
}

h1{
  font-family: century gothic;
  font-size: 80px;
  padding: 1px;
  color: white;
  margin: 5px;
  letter-spacing: 8px;
  text-shadow: 3px 2px black;
}

p{
  font-family: century gothic;
  padding: 0px;
  color: #0F6D5D;
  margin: 5px;
  float: left;
  position: relative;
  left: 5px;
  font-size: 30px;
  letter-spacing: 3px;
}

.title1{
  width: 400px;
  padding:100px;
  float: right;
  position: absolute;;
  right: 55%;
  top: 30%;
}

.hand{
  float: right;
  top: 50px;
  right: -100px;
  position: absolute;
  -webkit-animation: hand 3s linear 2s infinite alternate; /* Safari 4.0 - 8.0 */
  animation: hand 3s linear 2s infinite alternate;
}

@-webkit-keyframes hand {
  0% { right:-100px; top:40px;}
  25%  { right:-100px; top:50px;}
  50%  {right:-100px; top:60px;}
  75%  { right:-100px; top:70px;}
  100% { right:-100px; top:80px;}
}
