html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
  background-color: #3BB69F;
}

.F_logo{
  float: right;
  right: 950px;
  position: relative;
  top: -245px;
}
ul{

}

#navlist {
    position: relative;
    height: 50px;
    background-color:white;
}

#navlist li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
    background-color: white;
}

#navlist li, #navlist a {
    height: 44px;
    display: block;
}

#about {
  right: 250px;
float: right;
  height: 43px;
width: 43px;
background-image: url(https://lh3.googleusercontent.com/BW26c2x8sy9UBTy0gKj5qu51vqmEU44FHKFcA4P70LG1qpSTEEc7l-s3SEieICsyKUOMQXsF4vsesxbI7u6ICW4pbXoZNooFfAmUMZwKl89tWqR04qxnAXTj6W7-9CF0dLZ4iEQB6zhZp1ZbZUJTyozcaNG6f2-XThYZKB6wOkvU4J34r7dCvK2k6sRlyJQ57B0046wK4MLb8X9GO7JbJ-p8QVp6iErvEvF-e-1iyray5Qf6ybyDv90T-sUGDr_nopytdgtYTiOHY41Y7p7MqNlvd52QdbJHIW9n_mDr95r401D7CJN2gFMtQ_om0Px_uATsKQ9Lryspy12M1drmqwiffQND-ZNhmQLMCVzrwyG91H1CH-cloS-3k_Te3RPDhIn7zjRljrqN0hP4FRTHd6G18zr_Saag-o79cQqrPTIy0JMBtSA6UPaaSxpsT_JLmRNd_mDR-kqqDTd5umyVzI0G3JlcNoHAS9_3qAmFdJUa_YCEh7i-1Y6ZseK7o2XBr2EUqx2KRKJ2ed7IXkUwMz6n4VoCSAJDMGKn2Ogu7_BX7XtcopuotaaetAU51lvAoaK6vpgAs_-G0A4UyEKFrWJaNsqHGqT6VYeY3ZGMW65P_QhUKiMg=s312-no);
background-size: cover;
}

#service {
    right: 180px;
    height: 43px;
float: right;
    width: 43px;
background-size: cover;
    background-image: url('https://lh3.googleusercontent.com/3U-j7iFfvCGzagtBsGZ9Ai68Mg7DmBckeDeQc2siSxOvEZHD_ka8Qn0azs_lZPVct2Aqszd1eINNP8KFY5eXQ1CYKJ819pmJW-noGIawba-AlitQAzi3uHzW9EECMHXFq2kAG86rumPbES6qK4RKICzeJzr5q5XhTWfSYLrboDgRlKNdUQTZzS7pYOkBlELAYywamFeXHjW-TxF6MDQ2mTdH5_I8OlUGRTZLcKFPMD9lq8BCKHMGVHmYCzI9GZABbqCjWjAXbuseACBYh11mw-P5IbzT_9gczg9trZXyNzw_SzwHwMUq873GZ-BTFxFErEgWkhEUuj2nnj50nejrmFlwDdKpbZqQfQ9YXvrCrTAebsApx4T0m0LjJ9FxLk_6cjYt0cGUbNRqXV2GEfQOel1mAJsUTYmB8V_zJ8seEpeztBhTYF_PCEfvXNXOVSjQRMv-PdnuYr_Pj--M4hvw0oOpR077nMP42RO7rqWIDpI0oJp8NdG7c_wbH73GLyt6xNmKbk5MPtSmik7tNZNGLHGFS9NvqOkCQcDyR8hro2ArmVXGfQoRt4DRjMb16_XwHo88GzHrVa65LMe-smtNTkDXE2WJI30LsYsQHXdguqGn15s6-Wt9=s312-no') ;
}

#news {
  float: right;
    right:120px;
    width: 43px;
height: 43px;
background-size: cover;
    background-image: url('https://lh3.googleusercontent.com/peUm0X2BCJn-WElVVKwjrwhmHXrNBykQs0n2RaGtDY3bQkzdbc1YvF1BIa5X_za-lPRBrjauxky4MfkFwg-HujwzF5Zhkndqyxzd6JDo1TnZLIvA_7BQoNIegqoeo5gvg3vmjwZh8J8yiLrn_evbSmujTHhy7xSJf6gy8nJkwojB23RwpUgUW1HPTntH1WScV0h8pQwNzCDLsobTkoPappKW-fb8GFYvrTaxhGkIavB4tffoFD3f91Rz33-gfmXbRfd5e3Qa04vFzMmd5W1Lvagz6JSCQ_S3ayBNn3D1LfbSxj0yKU72frwFVDX9-kwdJF7YgWeB0kc3G0eCqArLg3sqSPuRxaa_m_y7gbtNmyvJhKISD9zPRENTLmSMb3yYIbFqQunXoCblbgpFBLbVf6NA_L_l7gFQhtDs5mTzk3NZYA1x6XOMaMdGSMzLa9EfVQbJjsVty3UsfY8rhJN2aR2SE5HdfgCmnsbZcxDeo_4Sgl5Id-f34GqaTgB6_SmF89YCM5wubnxOHImYHq9EvEZuwebWPoDPuM4mw9nE7MYnsLDS0_LZGlA64D6VCIPjk8223GlGkThX55HxZEr54aLPpGWcvvOeVME9NiXkfTKGq6Pu2paO=s312-no') ;
}

#contact {
    right: 60px;
    width: 43px;
    height: 43px;
float: right;
background-size: cover;
    background-image: url('https://lh3.googleusercontent.com/SYVL4nT3M2b2n3ji0ipUH2Xhv8d-xHLFatXQxxRGAtisemB_K4pS5NYHeaMONxNP5ZgqxGOPwXEd6nvqD6UUJBbr0K3wWPpND0RNDKhF2FbpKccYgemYZABT8bh3f8QqkNeV9vRy-H2yS_oOpqXAL89lwCIEXNELvIxZZIUrgoFzijtsjkG3fzWmvtnTLfOYAeGP4goga8SLQIM9Nphe8fP6STIG82bJhZ46mrJm9wgH7H6voGZVtHkqpfBrQ7F-E5Yr4CF1p-2Apsrq173u7awHNcPBAnWXsJKms3amhS_YfZMljIpW8adtTpESvWWMlFMJmjAPVE3QTRrP-wAG2eXaDkh3MQ08ShL7kwV0SvuDEhPS5WtG3F6BEOHXYq3I9G4BT5mIqHY4a-3vU-BtKyYBBlaJ4lfHEMteD7wb8zDBIc--MybXWBEg0ZFaAHfWP8_KHCCMcKlYGkXjXARZAqFaOCPsrKfQe7aStq72JpN7OZOcPaLHaWKzwCy70UhaenxVTTRdOOWffOCsFnQW-3hSlgZjX6CYf0CJb7CGfkR4byURBPwd8bgk1MN7ONYkq7t9_uRHtt7O0vaUJ6e79C7PUQWPDoOquHuk4YhMVv8Q0lJakFnt=s312-no') ;
}

p{
  font-family: century gothic;
  padding: 0px;
  color: #0F6D5D;
  margin: 5px;
  float: left;
  position: relative;
  left: 5px;
  font-size: 30px;
  letter-spacing: 3px;
}

h1{
  font-family: century gothic;
  font-size: 80px;
  padding: 1px;
  color: white;
  margin: 5px;
  letter-spacing: 8px;
text-shadow: 3px 2px black;
}
.title1{
width: 400px;
  padding: 100px;
  float: right;
  position: relative;
  right: -100px;
  top: 200px;
}

.hand{
  float: right;
  top: 50px;
  right: -100px;
  position: absolute;
}
