html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.head{
  width: 100%;
  text-align: center;
}

img {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  position: absolute;
}

h{
  text-decoration: underline;
  text-align: center;
  font-family: century gothic;
  color: white;
  font-size: 100px;
  position: absolute;;
  top: 15%;
  left: 36%;
  letter-spacing: 10px;
}

p{
  text-align: center;
  color: white;
  font-size: 30px;
  position: absolute;;
  padding: 5px;
  top: 35%;
  left: 38%;
  font-family: Brush Script MT;
}

.section1{
  position: relative;
  width: 100%;
  height: 468.43px;
  background-image: url(https://lh3.googleusercontent.com/tY865xxn7EZtis6WiXdX5Vwc4f81LB3EDvBIbL9lTfnsjxcKluD9LJF4lk9VI0GhXM1MDiEwt6sMUWUUGVeTRxxD5734lUjSlt8kI0y5-AXJty8XuIkCU8XyHF__iCdynBnp771if2BlLyKpodI1sUbysHY8S8m7FbclsjHT3k2XMv1YyD9tvOiJM6OjUy5Z6Rzc_KddddCLwBRwBmV8_UsxaVVXPYy6rkO17wpZDv6Rcc5bfh914CdNLBX7fcF9DvMh-0u-V46btX4qP4GxtkFUiLFBbeENcHCsZIh8T0obCR5zcxergfmhSHqdnZxegM449WcEzTSwdWEOwj5be_5TBfmjxDL1Og8QJaq8Mrh1bWYjtn2GudbCBscTz9f-iK1BSXMFgNPngCdCv3OX1fsqCpaNQ8c_kIdmqv80JGlOAjagTRAFo8VP3DxlihhQjpPEvgFWUIPry_aq1GtZGTpFEo_Esx1JWll8Jc3siyE6oOJUBlRYvfWMR0zmOC2ba8-llnhgJcGWHM5RyfeuGQa1ygWRADPjbHOQFAEN0mUdCiXILe1N_icOKYfkPPZHvIEcMaaG4hZaS-It7N4jgNJYlgjFf18nLyHafBSFbFaF2r_meIS6=w1369-h514-no)center no-repeat;
  background-size: cover;
}

#section2 {
  background-color: #3BB69F;
  height: 250px;
  text-align: center;
  width: 100%;
  font-family: century gothic;
  color: white;
  top: 60%;
  position: relative;
  padding: 3px;
}

p1{
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 10px;
  margin: 50px;
  position: relative;
  top: 50px;
  line-height: 1.5;
}
