html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
  background-color: #3BB69F;
}

.contact{
  width: 800px;
  position: relative;
  left: 400px;
  top: 60px;
}

h{
  font-size: 70px;
  font-family: century gothic;
  color: white;
  margin: 10px;
}

p{
  font-family: century gothic;
  color: white;
  font-size: 20px;
  margin: 10px;
  position: relative;
  top: 10px;
}

p1{
  font-family: century gothic;
  font-size: 23px;
  margin: 10px;
  position: relative;
  top: 20px;
}

i{
  color: white;
  padding: 5px;
  left: 410px;
  position: relative;
  top: 100px;
}

.container{
  width: 400px;
  height: 250px;
  position: relative;
  left: 800px;
  top: 40px;
}

input[type=name], input[type=email] , input[type=subject] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #99ccff;
    font-family: century gothic;
}

input[type=message]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #99ccff;
    font-family: century gothic;
    height: 150px;
}

input[type=subject]:hover {
  border: solid 1px white;
  box-shadow: 0 0 5px 1px white;
}

input[type=name]:hover {
  border: solid 1px white;
  box-shadow: 0 0 5px 1px white;
}

input[type=message]:hover {
  border: solid 1px white;
  box-shadow: 0 0 5px 1px white;
}

input[type=email]:hover {
  border: solid 1px white;
  box-shadow: 0 0 5px 1px white;
}

input[type="subject"]:focus {
  border: solid 1px white;
  box-shadow: 0 0 5px 1px white;
}

input[type="name"]:focus {
  border: solid 1px white;
  box-shadow: 0 0 5px 1px white;
}

input[type="email"]:focus {
  border: solid 1px white;
  box-shadow: 0 0 5px 1px white;
}

input[type="message"]:focus {
  border: solid 1px white;
  box-shadow: 0 0 5px 1px white;
}

#button1{
  margin: auto;
  width: 30%;
  border: 1px solid #ff471a;
  padding: 5px;
  background-color: #ff471a;
  height:30px;
  border-radius: 8px;
  color: white;
  font-family: century gothic;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#button1:hover {
  background-color: #3BB69F;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
  border: 1px solid white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#button2{
  margin: 10px;
  width: 30%;
  border: 1px solid #ff471a;
  padding: 5px;
  background-color: #ff471a;
  height: 30px;
  border-radius: 8px;
 color: white;
  font-family: century gothic;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#button2:hover {
  background-color: #3BB69F;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
  border: 1px solid white;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.head_buttom{
  position: relative;
  top: 10px;
  right: px;
  width: 300px;
  }

::-webkit-input-placeholder { /* Chrome */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: white;
  opacity: 1;
}
